body {
    background-color: #9A8481;
}

.card-container {
    display:flex ;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.36); 
    border-radius: 10px; 
    border: 1px black solid;
    background-color: #EBD7CB;
}

.last-item {
    background-color: #D5A38E;
}

li {
    padding-left: 10px;
}

P {
    height: 100px;
}

.button-wrap {
    padding-left: 55px;
}

.item-name {
    display: flex;
    align-items: center;
  }
  
.left-content {
flex: 1;
}

.right-content {
margin-left: 10px;
}

.navbar {
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.36);
}

h4, h5 {
    margin-top: 20px;
    color: white;
}