{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

{% load static %}
<style>
    body {
    background-color: #9A8481;
    }

    div {
        width: 420px; 
        height: 390px; 
        background: #EBD7CB; 
        box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.36); 
        border-radius: 50px; 
        border: 1px black solid;
        margin: auto;
        margin-top: 100px;
        padding-top: 30px;
    }

    h1 {
        padding-top: 10px;
        text-align: center;
        padding-bottom: 20px;
    }

    table {
        width: 350px;
        margin: auto;
    }

    .login_cell {
        padding-top: 30px;
        padding-right: 10px;
        text-align: left;
    }

    .reg_cell {
        padding-top: 30px;
        padding-right: 10px;
        text-align: right;
    }

    button {
        width: 100px;
    }

    h6 {
        padding-top: 10px;
        text-align: center;
    }
</style>

<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
            </tr>

            <tr>
                <td colspan="2"><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
            </tr>

            <tr>
                <td colspan="2"><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td class="reg_cell"><a href="{% url 'main:register' %}"><button type="button" class="btn btn-light">Register</button></a></td>
                <td class="login_cell"><Button type="submit" class="btn btn-primary">Login</Button></td>
            </tr>
        </table>
    </form>

    {% if messages %}
            {% for message in messages %}
                <h6>{{ message }}</h6>
            {% endfor %}
    {% endif %}

</div>
{% endblock content %}