{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Shelf</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link deactivate">Welcome back, {{name}}!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Brand</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Your Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About Us</a>
          </li>
        </ul>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-right: 5px;">Add Item by AJAX</button>
        <a href="{% url 'main:create_item' %}"><button type="button" class="btn btn-outline-primary" style="margin-right: 5px;">Add Item</button></a>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" style="margin-right: 5px;">Search</button>
        </form>
        <a href="{% url 'main:logout' %}"><button type="button" class="btn btn-outline-danger">Logout</button></a>
      </div>
    </div>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="form" onsubmit="return false;">
            {% csrf_token %}
            <div class="mb-3">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" class="form-control" id="name" name="name"></input>
            </div>
            <div class="mb-3">
              <label for="amount" class="col-form-label">Amount:</label>
              <input type="number" class="form-control" id="amount" name="amount"></input>
            </div>
            <div class="mb-3">
              <label for="price" class="col-form-label">Price:</label>
              <input type="number" class="form-control" id="price" name="price"></input>
            </div>
            <div class="mb-3">
              <label for="description" class="col-form-label">Description:</label>
              <textarea class="form-control" id="description" name="description"></textarea>
            </div>
            <div class="mb-3">
              <label for="category" class="col-form-label">Category:</label>
              <input type="text" class="form-control" id="category" name="category"></input>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Item</button>
      </div>
    </div>
  </div>
</div>

<h4>{{message}}</h4>

<div id="item_table"></div>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<script>
  async function getItems() {
    return fetch("{% url 'main:get_item_ajax' %}").then((res) => res.json())
  }

  async function refreshItems() {
    document.getElementById("item_table").innerHTML = ""
    const items = await getItems()
    let htmlString = `<div class="card-container">`
    items.forEach((item, index) => {
        const isLastItem = index === items.length - 1;
        const cardClass = isLastItem ? 'card last-item' : 'card';
        htmlString += `\n
        <div class="${cardClass}" style="width: 18rem;">
          <div class="card-body">
            <div class="item-name">
              <div class="left-content">
                <h5 class="card-title">${item.fields.name} | ${item.fields.category}</h5>
              </div>
              <div class="right-content">
                <button style="background-color: transparent;border: none" method="DELETE" onclick="decrementAJAX(${item.pk})">
                  <img src="{% static 'icon/delete_icon.png' %}" alt="Delete">
                </button>
              </div>
            </div>
            <h6 class="card-subtitle mb-2 text-body-secondary">${item.fields.amount} | Rp${item.fields.price}</h6>
            <p class="card-text">${item.fields.description}</p>
            <div class="button-wrap">
              <button type="button" class="btn btn-outline-primary" method="POST" onclick="decrementAJAX(${item.pk})">-</button>
              <a href="edit-item/${item.pk}/"><button type="button" class="btn btn-outline-primary">Edit</button></a>
              <button type="button" class="btn btn-outline-primary" method="POST" onclick="incrementAJAX(${item.pk})">+</button>
            </div>
          </div>
        </div>` 
    })
    htmlString += `</div>`
    
    document.getElementById("item_table").innerHTML = htmlString
  }

  refreshItems()

  function addItems() {
      fetch("{% url 'main:create_ajax' %}", {
          method: "POST",
          body: new FormData(document.querySelector('#form'))
      }).then(refreshItems)

      document.getElementById("form").reset()
      return false
  }

  function incrementAJAX(itemId) {
      fetch(`increment-item-ajax/${itemId}/`, {
          method: "POST",
      }).then(refreshItems)

      return false
  }

  function decrementAJAX(itemId) {
      fetch(`decrement-item-ajax/${itemId}/`, {
          method: "POST",
      }).then(refreshItems)

      return false
  }

  function deleteItem(itemId) {
      fetch(`delete_item_ajax/${itemId}/`, {
          method: "DELETE",
      }).then(refreshItems)
      
      return false
  }

  document.getElementById("button_add").onclick = addItems
</script>
    
{% endblock content %}