{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}  

{% load static %}
<style>
    body {
    background-color: #9A8481;
    }

    div {
        width: 420px; 
        height: 390px; 
        background: #EBD7CB; 
        box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.36); 
        border-radius: 50px; 
        border: 1px black solid;
        margin: auto;
        margin-top: 100px;
        padding-top: 30px;
    }

    h1 {
        padding-top: 10px;
        text-align: center;
        padding-bottom: 20px;
    }

    table {
        table-layout: fixed;
        width: 370px;
        margin: auto;
    }

    td {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .reg_cell {
        padding-top: 30px;
        padding-right: 10px;
        text-align: right;
    }

    .back_cell {
        padding-top: 30px;
        padding-right: 10px;
        text-align: left;
    }

    .helptext {
        display: none;
    }

    button {
        width: 100px;
    }

    .errorlist {
        display: none;
    }
</style>

<div class = "login">
    
    <h1>Register</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td class="reg_cell"><Button type="submit" class="btn btn-primary">Register</Button></td>
                    <td class="back_cell"><a href="{% url 'main:login' %}"><button type="button" class="btn btn-light">Back</button></a></td>
                </tr>  
            </table>
        </form>

    {% if messages %}  
            {% for message in messages %}  
                {{ message }}
            {% endfor %}  
    {% endif %}

</div>  

{% endblock content %}